<div class="list-projets">
  <div class="container" *ngFor="let user of dataUser">
    <!-- <div class="entete">
      <h2>Projet: <span>{{ }}</span></h2>
    </div>
    <hr>
    <div class="content">
      <h4>Entrepreneur: <span>{{ }}</span></h4>
      <h4>Date de Début: <span>{{ }}</span></h4>
      <h4>Besoin: <span>{{  }}</span></h4>
      <h4>Description: <span>{{  }}</span></h4>
    </div> -->
    <div class="buttons">
      <button type="button" class="bouton">Contacter</button>
      <button type="button" class="bouton">Retour</button>
      <button type="button" class="bouton" >Modifier</button>
      <button type="button" class="bouton" >Supprimer</button>
    </div>
  </div>
</div>
