<div class="container">
  <div class="entete">
    <h2>Projet: <span>hello</span></h2>
  </div>
  <hr>
  <div class="content">
    <h4>Entrepreneur: <span>hello</span></h4>
    <h4>Date de Début: <span>hello</span></h4>
    <h4>Besoin: <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime ut non pariatur recusandae animi repellendus sequi facere culpa in quae, accusantium dolor aperiam eum placeat est fugit, adipisci tempora ipsa.</span></h4>
    <h4>Description: <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod distinctio laudantium officia incidunt facilis vitae eos! Ipsam aliquam enim dolor quos atque temporibus corporis voluptates maxime, voluptate culpa, doloremque veniam?</span></h4>
  </div>
  <div class="buttons">
    <button type="button" class="bouton">Contacter</button>
    <button type="button" class="bouton">Retour</button>
    <button type="button" class="bouton">Supprimer</button>
  </div>
</div>
<!-- ************************************************************************************************************* -->
<div class="container">
  <div class="entete">
    <h2>Profil: <span>Nom prenom</span></h2>
  </div>
  <hr>
  <div class="content">
    <h4>Username: <span>hello</span></h4>
    <h4>Pays: <span>hello</span></h4>
    <h4>Presentation: <span>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime ut non pariatur recusandae animi repellendus sequi facere culpa in quae, accusantium dolor aperiam eum placeat est fugit, adipisci tempora ipsa.</span></h4>
  </div>
  <div class="listeProjet">
    <ul>
      <li>Projet 1</li>
    </ul>
  </div>
  <div class="buttons">
    <button type="button" class="bouton">Contacter</button>
    <button type="button" class="bouton">Retour</button>
    <button type="button" class="bouton">Supprimer</button>
  </div>
</div>
