.edit-container{
  color: white;
  border-radius: 15px;
  background-color: #3c5aa6;
  .container{
    margin: 1rem auto;

    .text{
      color:#3c5aa6
    }
    .input-div{
      margin: 1rem auto;
      color: #3c5aa6;
    }
  }
  .buttons{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    button{
      color: #3c5aa6;
      padding: 5px;
      margin: 5px 0;
      border-radius: 5px;
      border: none;
    }
  }
}

