<div class="login-form text-center edit-container">
  <main class="form-signin">
    <form class="container" (ngSubmit)="updateProj()" [formGroup]="projetForm">
      <h1>Modifiez Votre projet !</h1>

      <div class="form-floating input-div">
        <input type="number"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="id">
        <label for="floatingInput">id</label>
      </div>

      <div class="form-floating input-div">
        <input type="text"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="name">
        <label for="floatingInput">nom</label>
      </div>
      <div class="form-floating input-div">
        <input type="text"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="description">
        <label for="floatingInput">description</label>
      </div>
      <div class="form-floating input-div">
        <input type="text"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="entrepreneur">
        <label for="floatingInput">auteur</label>
      </div>
      <div class="form-floating input-div">
        <input type="text"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="besoin">
        <label for="floatingInput">besoin</label>
      </div>

      <div class="form-floating input-div">
        <input type="date"
                class="form-control"
                id="floatingInput"
                placeholder=""
                formControlName="dateD">
        <label for="floatingInput">Date</label>
      </div>

      <div class="buttons">
        <button class="button"
        type="submit"
        >Modifier</button>
        <button class="button"
                type="submit" onclick="history.back(-1)">Annuler</button>
      </div>
    </form>
    <hr>
  </main>
</div>
