.container{
  .bouton-group{
    width: 100%;
    padding: 10px 0;
    .bouton:active {
      background: #4b7af2 !important;
      color: #fff;
      border-color: #3c5aa6;
    }
  }
}
.container-fluid{
  .SEARCH{
    border: 1px solid #3c5aa6;
    margin: 10px 0;
    padding: 20px;
  }
  hr{
    color: #979690;
    font-size: medium;
  }
  .filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
  }
}


.projet{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .list-projets{
    max-width: 300px;
    // border: 1px solid salmon;
    background-color: rgb(238, 234, 234);
    border-radius: 10px;
    color: #3c5aa6;
    margin: 1rem;
    .content{
      span{
        font-size: medium;
      }
    }
    .buttons{
      padding: 10px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // margin: 10px;
      button{
        color: #3c5aa6;
        background-color: #fff;
        border: none;
        padding: 5px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
}
.scrollTop{
  background-color: #979690;
  border: 1px solid salmon;
  border-radius: 5px;
  margin: 1rem 0;
  height: 40px;
  width: 100px;
  &:hover{
    background-color: #4b7af2;
    color: salmon;
  }
}
