<div class="container">
  <div class="btn-group bouton-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary bouton">Left</button>
    <button type="button" class="btn btn-primary bouton">Right</button>
  </div>
  <!-- ********************************************************************************************************* -->
  <div class="container-fluid">
    <form class="d-flex SEARCH">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>

    <div class="filtre">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">Nom Prenom</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Secteur d'activité</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Pays</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">Nom Projet</label>
      </div>
    </div>
  </div>
  <!-- ********************************************************************************************************* -->
  <hr>
  <!-- <app-user></app-user> -->
  <!-- <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="../../assets/Fadimalogo3.png" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <div class="d-grid gap-2 col-6 mx-auto history">
            <button type="button" class="btnbtn-outline-primary" routerLink="/" routerLinkActive="active">Details</button>
            <button type="button" class="btnbtn-outline-primary" routerLink="/contact" routerLinkActive="active">Contacter</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <!-- <app-list-projet [listProject]="dataProject"></app-list-projet> -->
</div>

