<div class="container">
  <!-- <div class="photo">
    <i class="fas fa-user"></i>  </div> -->
  <div class="bloc">
    <div class="infos">
      <p>PSEUDO :  {{user?.username}}</p>
      <p *ngFor="let role of user?.roles">STATUS :  {{ tolowerRole(role.name) }}</p>
      <p>EMAIL :  {{user?.email}}</p>
    </div>
      <!-- ******************************presentation******************************************************** -->
    <div class="presentation">
        <p>PRESENTATION :  {{user?.presentation}}</p>
    </div>
  </div>
    <button type="button" class="btn btn-outline-secondary mr-2" placement="top" ngbTooltip="Modifier le projet" routerLink="/edit-profil">
      <i class="fas fa-user-edit"></i>
    </button>
</div>
