<div class="container">
  <div class="photo">
    <img src="" alt="">
  </div>
  <div class="bloc">
    <div class="infos">
      <p>Nom Prenom</p>
      <p>Status(Entrepreneur)</p>
      <p>Adresse</p>
    </div>
      <!-- ******************************presentation******************************************************** -->

    <div class="presentation">
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Présentation: </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3">
        </textarea>
      </div>
    </div>
  </div>
  <button>Modifier</button>
  <button>Annuler</button>
</div>
