.container{
  .bouton-group{
    width: 100%;
    padding: 10px 0;
    .bouton:active {
      background: #4b7af2 !important;
      color: #fff;
      border-color: #3c5aa6;
    }
  }
}
.container-fluid{
  .SEARCH{
    border: 1px solid #3c5aa6;
    margin: 10px 0;
    padding: 20px;
  }
  hr{
    color: #979690;
    font-size: medium;
  }
  .filtre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0;
  }
}
.history{
  padding: 10px;

  button{
    color: #3c5aa6;
    border: #f27e63 1px solid;
    padding: 5px;
    margin: auto;
  }
}

