<footer class="footer ">

  <div class="footerHaut">
    <ul>
      <li  routerLink="/cgu" >CGU
        <p>Notre mission est de connecter les professionnels du monde entier afin d’améliorer leur productivité et de
          les accompagner sur la voie de la réussite.</p>
      </li>
      <li  routerLink="/pc" >Politique Confidentialité
        <p>La mission de LinkedIn est de connecter les professionnels du monde entier afin d’améliorer leur productivité
          et de les accompagner sur la voie de la réussite.</p>
      </li>
      <li  routerLink="/about" >A Propos
        <p>IAP est un site internet qui met en relation des collaborateurs qui ont des approches semblabe.</p>
      </li>
    </ul>
    <div class="footerBas">
      <figure>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-linkedin-in"></i>
      </figure>
      <span>@copyrith</span>
    </div>
  </div>


</footer>
