<div class="container">
  <h1 class="title">A propos de Investir Au Pays</h1>
  <p>IAP est un site internet qui met en relation des collaborateurs qui ont des approches semblabe.</p>
  <h2 class="title">Vision</h2>
  <p>L'objectif de ce site est de donner une opportunité au 2 cotés.  L'entrepreneur qui a un projet interressant avec un besoin important de d'investissement ou de collaboration;
    d'autre coté un investisseur qui veut investir ou collaborer dans un projet serieux.
  </p>
  <h2 class="title">Objectifs</h2>
  <p>L'objectif de ce site est de permettre au jeune entrepreneur de mettre leurs projet en lumière.</p>
</div>
