<div class="container">
  <!-- ********************************************************************************************************* -->
  <div class="container-fluid searchbar">
    <form class="d-flex SEARCH" (ngSubmit)="onSubmit()" [formGroup]="searchForm">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
  <!-- ********************************************************************************************************* -->
  <hr>
<div class="projet">
  <div class="list-projets" *ngFor="let projet of dataProject">
    <div class="container conteneur">
      <div class="entete">
        <h2>Projet: <span>{{projet.name}}</span></h2>
      </div>
      <hr>
      <div class="content">
        <h4>Entrepreneur: <span>{{ projet.entrepreneur }}</span></h4>
        <h4>Date de Début: <span>{{ projet.dateD }}</span></h4>
        <h4>Besoin: <span>{{ projet.besoin }}</span></h4>
        <h4>Description: <span>{{  projet.description }}</span></h4>
      </div>
      <div class="buttons">
        <!-- <button type="button" class="bouton" ngbTooltip="Contacter le projet"  (click)="getUser(projet.userId)" data-bs-toggle="modal" data-bs-target="#exampleModal">Contacte</button> -->
        <button type="button" class="bouton" [routerLink]="['/edit-projet', projet?.id]">Modifier</button>
        <button type="button" class="bouton" (click)="deleteProj(projet?.id)">Supprimer</button>
      </div>
    </div>
  </div>
  <p class="float-end"><a href="#" (click)="toBack($event)">Back to top</a></p>
</div>

<div class="buttons" id="buttonss">
  <button class="button" routerLink="/home-admin" routerLinkActive="active">Home</button>
  <button class="button" routerLink="/admin-user" routerLinkActive="active">User</button>
</div>
