<div class="list-projets">
  <div class="container">
    <div class="entete">
      <h2>Projet: <span>{{ projet?.name }}</span></h2>
    </div>
    <hr>
    <div class="content">
      <h4>Entrepreneur: <span>{{ projet?.entrepreneur }}</span></h4>
      <h4>Date de Début: <span>{{ projet?.dateD }}</span></h4>
      <h4>Besoin: <span>{{ projet?.besoin }}</span></h4>
      <h4>Description: <span>{{ projet?.description }}</span></h4>
    </div>
    <div class="buttons">
      <button type="button" class="bouton">Contacter</button>
      <button type="button" class="bouton">Retour</button>
      <button type="button" class="bouton" [routerLink]="['/edit-projet', projet?.id]">Modifier</button>
      <button type="button" class="bouton">Supprimer</button>
    </div>
  </div>
<!-- edit-projet/:id -->
</div>
