<div class="container">
  <h2 class="title">Condition Générale D'utilisation</h2>
  <p>Notre mission est de connecter les professionnels du monde entier afin d’améliorer leur productivité et de
    les accompagner sur la voie de la réussite. Nos services sont conçus dans le but de promouvoir les opportunités
    économiques de nos membres en vous permettant, ainsi qu’à des millions d’autres professionnels, de vous
    rencontrer, d’échanger des idées, d’apprendre et de chercher des opportunités ou des employés, de travailler
    et de prendre des décisions dans le cadre d’un réseau de relations de confiance.</p>
  <p>Nous recevons des informations sur vos consultations et votre utilisation de services fournis par des tiers lorsque
    vous vous connectez via LinkedIn ou que vous accédez à des services de tiers incluant certains de nos plug-ins
    (comme “Nous Contacter”) ou nos publicités, nos cookies ou des technologies similaires.</p>
</div>
