<!--
<div class="login-form text-center">
  <main class="form-signin">
    <form (ngSubmit)="onSubmit()" [formGroup]="adminForm">
      <h1>Nouveau Admin</h1>
      <div class="form-floating">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder=""
          formControlName="username"
        />
        <label for="floatingInput">Pseudo</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder=""
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              (adminForm.get('email')?.dirty ||
                adminForm.get('email')?.touched) &&
              adminForm.get('email')?.invalid
          }"

        />
        <label for="floatingInput">Adresse email</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              (adminForm.get('password')?.dirty ||
                adminForm.get('password')?.touched) &&
              adminForm.get('password')?.invalid
          }"
          id="floatingInput"
          placeholder=""
          formControlName="password"
        />
        <label for="floatingInput">Mot de passe</label>
      </div>
      <div class="form-floating checkboxs" *ngFor="let role of user?.roles">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="admin" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Admin
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="entrepreneur" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Entrepreneur
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="investisseur" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            Investisseur
          </label>
        </div>
      </div>
      <div class="buttons">
        <button class="bouton"
        type="submit"
        [disabled]="">Création</button>
        <button class="bouton"
                type="submit" onclick="history.back(-1)">Annuler</button>
      </div>
    </form>
  </main>
</div> -->
