.container-projet{
  padding: 1rem;
  height: auto;
  border: 1px solid salmon;
  border-radius: 10px;
  text-align: center;
  margin: 1rem 0;

  h4{
    color: #3c5aa6;
  }
  
  .button{
    border: salmon 1px solid;
    border-radius: 50%;
    color: #3c5aa6;
    height: 50px;
    width: 50px;
    &:hover{
      background-color: #979690;
      color: salmon;
      border: 1px solid #3c5aa6;
    }
  }
}
