.bg-farima{
  background-color: #3c5aa6;
  color: white;

  .logo{
    height: 40px;
    width: auto;
  }

  .container-list{

    .list{

      .list-lien{
        &:hover{
          color: salmon;
          background-color: #4b7af2;
        }

        &:active{
          color: salmon;
          background-color: #4b7af2;
        }
      }
    }
  }
}
