  <div class="container list-projects">
    <div class="head">
      <h2>Projet: <span>{{ projet?.name }}</span></h2>
      <!-- <h2>id: <span>{{ projet?.id }}</span></h2>
      <h2>userId: <span>{{ projet?.userId}}</span></h2> -->
    </div>
    <hr>
    <div class="content">
      <h4>Entrepreneur: <span>{{ projet?.entrepreneur }}</span></h4>
      <h4>Date de Début: <span>{{ projet?.dateD }}</span></h4>
      <h4>Besoin: <span>{{ projet?.besoin }}</span></h4>
      <h4>Description: <span>{{ projet?.description }}</span></h4>
    </div>
    <div class="buttons">
      <button type="button" class="button" placement="top" ngbTooltip="Modifier le projet"  [routerLink]="['/edit-projet', projet?.id]">
        Modifier
      </button>
      <button type="button" class="button"  (click)="deleteProj(projet?.id)" ngbTooltip="Modifier le projet">
        Supprimer
      </button>
    </div>
  </div>
