<div class="container">
  <h2 class="title">Politique de confidentialité</h2>
  <p>La mission de LinkedIn est de connecter les professionnels du monde entier afin d’améliorer leur productivité
    et de les accompagner sur la voie de la réussite. Au cœur de cette mission, nous plaçons notre engagement de
    transparence concernant les données collectées à votre sujet, leur utilisation et les entités avec lesquelles
    nous les partageons. La présente Politique de confidentialité s’applique dès lors que vous avez recours à nos
    services (décrits ci-dessous). Nous offrons à nos utilisateurs le choix concernant les données que nous
    recueillons, utilisons et partageons, ainsi que le décrivent la présente Politique de confidentialité, notre
    Politique relative aux cookies, les Préférences et notre Assistance clientèle.</p>
  <p>Nos utilisateurs inscrits (“Membres”) partagent leur identité professionnelle, communiquent avec leur réseau,
    échangent des informations et des points de vue professionnels, publient et consultent du contenu, apprennent
    et développent des compétences, et trouvent des opportunités commerciales et d’avancement de carrière. Le contenu
    et les données de certains de nos services sont disponibles aux non-membres (“Visiteurs”).</p>
  <p>Pour créer un compte, vous devez indiquer votre nom, votre adresse e-mail et/ou votre numéro de téléphone,
    ainsi qu’un mot de passe. Si vous souscrivez un Service Premium, vous devrez fournir des informations de
    paiement (carte bancaire, par exemple) et des données de facturation.</p>
  <p>Nous enregistrons des données d’utilisation lorsque vous accédez à nos Services (ou les utilisez d’une quelconque
    manière), ce qui inclut nos sites, nos applications et notre technologie de plateforme, notamment lorsque vous
    affichez du contenu (par exemple, une vidéo de formation) ou des publicités (sur nos sites et applications, ou en
    dehors) ou que vous cliquez dessus, quand vous effectuez une recherche, quand vous installez ou mettez à jour l’une
    de nos applications mobiles, quand vous partagez des articles ou quand vous postulez à des offres d’emploi. Nous
    utilisons des identifiants de connexion, des cookies, des informations sur les appareils et des adresses IP pour vous
    identifier et pour enregistrer votre activité.</p>
</div>
