<form class="d-flex SEARCH" (ngSubmit)="deleteUser" [formGroup]="searchForm">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" formControlName="name">
  <button class="btn btn-outline-success" type="submit">
    <i class="fas fa-search"></i>
  </button>
</form>
  <div class="projet">
    <div class="list-projets" *ngFor="let user of dataUsers">
      <div class="container conteneur">
        <div class="entete">
          <h2>Pseudo: <span>{{ user.username }}</span></h2>
        </div>
        <hr>
        <div class="content">
          <h4>Email: <span>{{ user.email }}</span></h4>
          <h4 *ngFor="let role of user?.roles">Role: <span>{{ tolowerRole(role.name) }}</span></h4>
        </div>
        <div class="buttons">
          <button type="button" class="bouton"  (click)="deleteUser(user)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
<!-- ***************************************************************************************************** -->
<div class="buttons">
  <button class="button" (click)="toBack($event)">Haut</button>
  <button class="button" routerLink="/home-admin" routerLinkActive="active">Home</button>
  <button class="button" routerLink="/admin-projet" routerLinkActive="active">Projet</button>
</div>
